$main-color: #ac0606;
$white: #fff;
$light-gray: #ddd;
$bg-color: #ebecf2;
$grey: #aaaaaa;
$blue: #0852ff;
$full-pack-color: rgb(104, 103, 103);
$gold-arduino: #e8b31c;
$green-arduino: #9b0101;
$grey-arduino: #aaaaaa;
